td {
	font-family: "ו"; font-size: 12px;
}
body {
	font-family: "ו"; font-size: 12px;
}
.t {
	color: rgb(0, 0, 0); font-weight: normal; text-decoration: none;
}
.tb {
	color: rgb(0, 0, 0); font-weight: normal; text-decoration: none;
}
.tt {
	color: rgb(0, 0, 0); font-weight: normal; text-decoration: underline;
}
.t1 {
	color: rgb(0, 0, 255); font-weight: normal; text-decoration: none;
}
.t1t1 {
	color: rgb(0, 0, 255); font-weight: normal; text-decoration: underline;
}
.t2 {
	color: rgb(34, 108, 170); font-weight: normal; text-decoration: none;
}
.t2t2 {
	color: rgb(34, 108, 170); font-weight: normal; text-decoration: underline;
}
.t3 {
	color: rgb(255, 0, 0); font-weight: normal; text-decoration: none;
}
.t3b {
	color: rgb(255, 0, 0); font-weight: normal; text-decoration: none;
}
.t3t3 {
	color: rgb(255, 0, 0); font-weight: normal; text-decoration: underline;
}
.t4 {
	color: rgb(0, 136, 0); font-weight: normal; text-decoration: none;
}
.t4t4 {
	color: rgb(0, 136, 0); font-weight: normal; text-decoration: underline;
}
.t5 {
	color: rgb(255, 0, 255); font-weight: normal; text-decoration: none;
}
.t5t5 {
	color: rgb(255, 0, 255); font-weight: normal; text-decoration: underline;
}
.t6 {
	color: rgb(117, 54, 13); font-weight: normal; text-decoration: none;
}
.t6t6 {
	color: rgb(117, 54, 13); font-weight: normal; text-decoration: underline;
}
.t7 {
	color: rgb(102, 102, 102); font-weight: normal; text-decoration: none;
}
.t7t7 {
	color: rgb(102, 102, 102); font-weight: normal; text-decoration: underline;
}
.t8 {
	color: rgb(33, 44, 120); font-weight: normal; text-decoration: none;
}
.t8b {
	color: rgb(33, 44, 120); font-weight: normal; text-decoration: none;
}
.t8t8 {
	color: rgb(33, 44, 120); font-weight: normal; text-decoration: underline;
}
.t9 {
	color: rgb(0, 57, 0); font-weight: normal; text-decoration: none;
}
.t9b {
	color: rgb(0, 57, 0); font-weight: normal; text-decoration: none;
}
.t9t9 {
	color: rgb(0, 57, 0); font-weight: normal; text-decoration: underline;
}
.t10 {
	color: rgb(0, 0, 153); font-weight: normal; text-decoration: none;
}
.t10t10 {
	color: rgb(0, 0, 153); font-weight: normal; text-decoration: underline;
}
.t11 {
	color: rgb(221, 133, 0); font-weight: normal; text-decoration: none;
}
.t11t11 {
	color: rgb(221, 133, 0); font-weight: normal; text-decoration: underline;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
a:active {
	color: rgb(0, 204, 0); text-decoration: underline;
}
